body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#ffd6e7;
    overflow:hidden;
}

.container{
    text-align:center;
    margin-top:80px;
    padding:20px;
}

h1{
    color:#c70039;
    font-size:32px;
}

p{
    color:#7a0026;
    font-size:20px;
    max-width:500px;
    margin:auto;
}

.botao{
    display:inline-block;
    margin-top:30px;
    background:#ff4d6d;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    border-radius:25px;
    font-size:18px;
    transition:0.3s;
}

.botao:hover{
    background:#c70039;
    transform:scale(1.05);
}

@keyframes cair{
    to{
        transform:translateY(100vh);
        opacity:0;
    }
}

body{
    opacity:0;
    transition: opacity 0.8s ease;
}

body.loaded{
    opacity:1;
}

iframe {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 100, 150, 0.4);
    margin-top: 20px;
}


header{
    background:#ffd1d9;
    padding:15px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    margin:0;
    color:#d94c6a;
}

nav a{
    margin:10px;
    text-decoration:none;
    color:#d94c6a;
    font-weight:bold;
}

nav a:hover{
    color:#ff6b81;
}

